.app {
  background-color: #0b1529;
  padding: 10em;
}

.footer {
  background-color: rgba(121, 121, 114, 0.773);
  color: aliceblue;
}

.navbar {
  background-color: rgba(121, 121, 114, 0.773);
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.about-section {
  color:antiquewhite;
  text-align: center;
  width: 100%;
}

.profile-img{
  border-radius: 50px;
  width: 100%;
  max-width: 600px;
}