.app {
  /* background-color: #37414f; */
  background-color: #222831;
  padding: 10em;
  font-family: 'Quicksand', sans-serif;
}

.logo {
  width: 20%;
  height: auto;
}

.about-me {
  font-family: 'Quicksand', sans-serif;

}

.footer {
  background-color: #d4d4d4;
  color: #0d0f13;
  display: flex;
}

.nav-links {
  font-weight: 400;
}

.navbar {
  background-color: #eeeeee;
  color: #0d0f13;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.about-section {
  color: #d4d4d4;
  text-align: center;
  width: 100%;
}

.profile-img{
  border-radius: 50px;
  width: 100%;
  max-width: 600px;
}

.gallery {
  color: #d4d4d4;
  display: grid;
  column-gap: 50px;
  grid-template-columns: 1fr;
}

.img-preview {
  height: 100px; 
}

.contact-form {
  color: aliceblue;
}