
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  padding: 0rem;
  background-color: #222831;
  font-family: 'Quicksand', sans-serif;
}

.navigation {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0rem 0rem;
  background-color: #eeeeee;
  color: d4d4d4;
}

.logo {
  width: 20%;
  height: auto;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1 rem;
}

.link-style {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-right: 3rem;
  color: #0d0f13;
}

.link-style:hover {
  color: rgb(119, 117, 129);
}

.copyright {
  padding-right: 20%;
}

.about-me {
  font-family: 'Quicksand', sans-serif;

}


.footer {
  background-color: #d4d4d4;
  color: #0d0f13;
  display: flex;
}



.about-section {
  color: #d4d4d4;
  text-align: center;
  width: 100%;
}

.profile-img{
  border-radius: 50px;
  width: 100%;
  max-width: 600px;
}

.gallery {
  color: #d4d4d4;
  display: grid;
  column-gap: 50px;
  grid-template-columns: 1fr;
}

.img-preview {
  height: 100px; 
}

.contact-form {
  color: aliceblue;
}